.information {
    display: flex;
    justify-content: center ;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    background-color:bisque;
}



.information > #photo {
    display: flex;
    align-items: start;
    margin: 10px;

}


.experience {
    border: 2px solid black
}

.experience > #experience_header {
    display:flex;
    justify-content: center;
    align-items: center;
}

.experience > #exp1 {
    border: 2px solid black;
}
.experience > #exp2 {
    border: 2px solid black;
}
.experience > #exp3 {
    border: 2px solid black;
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    
}

#projects_header {
    margin: 0;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    border: 2px solid black;
    
}

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.exp > .proj_img {
    transition:all 1s;
}

.exp >.proj_img:hover {
    width: 200px;
    height: 200px;
}


.extra {
    border:2px solid black;
}

.extra > #skills {
    border: 2px solid black;
}
.extra > #auto {
    border: 2px solid black;

}